
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Ajouter Document</title>
<meta http-equiv="Content-type" content="text/html; charset = UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<style type="text/css">
</style>
</head>
<body class="container">
	<div class="">
		<table>
			<form th:action="@{/api/v1/documents/ajouter-document}"
				th:object="${document}" method="post" enctype="multipart/form-data">

				<div class="form-group">

					<label> Nom document:</label> <input type="text"
						class="form-control" placeholder="Nom Document"
						th:field="*{nomDocument}" />
				</div>
				<div class="form-group">
					<label>Description:</label>
					<textarea class="form-control" placeholder="Description"
						type="text" th:field="*{descriptionDocument}" rows="3"></textarea>
				</div>
				<div class="form-group">

					<label>date:</label> <input type="datetime" th:field="*{date}"
						class="form-control" placeholder="Date" />
				</div>
				<div class="form-group">

					<label>fichier:</label> <input class="form-control " type="file"
						name="file" />
				</div>
				<input class="form-control-sm btn btn-primary" type="submit"
					value="Confirmer" /> <a href="/api/v1/documents/documents">listes
					des documents</a>

			</form>
		</table>
	</div>

</body>
</html>