<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Gestion Des Documents-Module-LGP</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom document</th>
				<th>date</th>
				<th>Description Document</th>
				<th>Fichier</th>
				<th>Operation</th>
			</tr>
		</thead>

		<tbody>
			<!-- enctype ="multipart/form-data" -->
			<tr th:each="d:${documents}">

				<td th:text="${d.idDocument}"></td>
				<td th:text="${d.nomDocument}"></td>
				<td th:text="${d.date}"></td>
				<td th:text="${d.descriptionDocument}"></td>
				<td th:text="${d.fichier}"></td>
				<td><a href="@{/api/v1/documents/file/${fileName}}"
					name="fileName">Telecharger</a>
					<a th:href="@{/api/v1/documents/edit/{id}(id=${d.idDocument})}">Modifier
				</a> <a th:href="@{/api/v1/documents/delete/{id}(id=${d.idDocument})}">Supprimer</a>
				</td>
			</tr>
		</tbody>
	</table>

	<a href="/api/v1/documents/ajouter-document">ajouter documnet</a>

</body>
</html>




