
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Ajouter Document</title>
<meta http-equiv="Content-type" content="text/html; charset = UTF-8" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<h1>Ajouter un document</h1>
	<table>
		<form th:action="@{/api/v1/documents/ajouter-utilisateur}"
			th:object="${utilisateur}" method="post"
			enctype="multipart/form-data">
			<tr>
				<td>ID:</td>
				<td><input type="text" th:field="*{idUtilisateur}" /></td>
			</tr>
		<tr>
			<td>Nom Utilisateur:</td>
			<td><input type="text" th:field="*{nomUtilisateur}" /></td>
		</tr>
		<tr>
			<td>Prenom :</td>
			<td><input type="text" th:field="*{prenomUtilisateur}" /></td>
		</tr>
		<tr>
			<td>Tel :</td>
			<td><input type="text" th:field="*{tel}" /></td>
		</tr>
		
<!-- 		<tr> -->
<!-- 			<td>date:</td> -->
<!-- 			<td><input type="datetime" th:field="*{date}" /></td> -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td>fichier:</td> -->
<!-- 			<td><input type="file" name ="file"/> </td> th:field="*{fichier}"  -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td>date acces document :</td> -->
<!-- 			<td><input type="text" /></td> -->
<!-- 		</tr> -->
<!-- 		<tr> -->
<!-- 			<td>Dossier :</td> -->
<!-- 			<td><input type="text" /></td> -->
<!-- 		</tr> -->
		<tr>
			<td><input type="submit" value="Ajouter" /></td>
<!-- 			<td><a href="/api/v1/documents/document">listes des documents</a></td> -->
		</tr>
		</form>

	</table>
</body>
</html>