<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body class="container">
	<h1>Ajouter un document</h1>
	<table>
		<form th:action="@{/api/v1/documents/formulaire-groupe}"
			th:object="${group}" method="post" enctype="multipart/form-data">
			<tr>
				<td>ID:</td>
				<td><input type="text" th:field="*{idGroupe}" /></td>
			</tr>
			<tr>
				<td>Nom Utilisateur:</td>
				<td><input type="text" th:field="*{nomGroupe}" /></td>
			</tr>
			<tr>
				<td>Description :</td>
				<td><input type="text" th:field="*{descriptionGroupe}" /></td>
			</tr>	

			<tr>
				<td><input type="submit" value="valider"></td>
			</tr>
		</form>
	</table>

</body>
</html>