<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Gestion Des Documents-Module-LGP</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>

	<nav class="navbar navbar-light bg-light">
		<a class="navbar-brand">Gestion des document</a>
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="search"
				placeholder="Search" aria-label="Search"> <a
				class="btn btn-success my-2 my-sm-0" type="submit"
				href="/api/v1/documents/ajouter-">Ajouter Un Utilisateur</a> 
				<a
				class="btn btn-danger my-2 my-sm-0" type="submit"
				href="/api/v1/documents/ajouter-document">Supprimer tous</a>

		</form>
	</nav>

		<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom Utilsateur</th>
				<th>Prenom Utilisateur</th>
				<th>Numero de Tel</th>
			</tr>
		</thead>

		<tbody>
			<!-- enctype ="multipart/form-data" -->
			<tr th:each="u:${utilisateurs}">

				<td th:text="${u.idUtilisateur}"></td>
				<td th:text="${u.nomUtilisateur}"></td>
				<td th:text="${u.prenomUtilisateur}"></td>
				<td th:text="${u.tel}"></td>


				<!-- 			<td th:text="${d.isPublic}"></td> -->
				<!-- 				<td th:text="${d.accesDocument.dateAccesDocument}"></td> -->
				<!-- 				<td th:text="${d.dossier.nomDossier}"></td> -->

				<!-- 				 <td><a href="/api/v1/documents/file/${fileName}" name="fileName">Telecharger </a> -->
				<!-- 				<a href="#">Visualiser </a> -->
				<!-- 				<a href="#">Imprimer </a> -->
				<!-- 				<a href="#">transferer </a></td> -->
			</tr>
		</tbody>
	</table>

<!-- 	<a href="/api/v1/documents/ajouter-document">Ajouter un Utilisateur</a> -->

</body>
</html>




