<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Gestion Des Documents-Module-LGP</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

</head>
<body>
	<!-- 	<thead> -->
	<!-- 		<tr> -->
	<!-- 			<th>ID</th> -->
	<!-- 			<th>DATE DE NAISSANCE</th> -->
	<!-- 			<th>NOM</th> -->
	<!-- 			<th>PHOTO</th> -->
	<!-- 			<th>EMAIL</th> -->
	<!-- 		</tr> -->
	<!-- 	<tbody> -->
	<!-- 		<tr th:each="e:${etudiant}"> -->
	<!-- 			<td th:text="${e.id}"></td> -->
	<!-- 			<td th:text="${e.dateNaissance}"></td> -->
	<!-- 			<td th:text="${e.nom}"></td> -->
	<!-- 			<td th:text="${e.photo}"></td> -->
	<!-- 			<td th:text="${e.email}"></td> -->

	<!-- 		</tr> -->
	<!-- 	</tbody> -->
	<!-- 	</thead> -->
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom Utilsateur</th>
				<th>Prenom Utilisateur</th>
				<th>Numero de Tel</th>
			</tr>
		</thead>

		<tbody>
			<!-- enctype ="multipart/form-data" -->
			<tr th:each="u:${utilisateurs}">

				<td th:text="${u.idUtilisateur}"></td>
				<td th:text="${u.nomUtilisateur}"></td>
				<td th:text="${u.prenomUtilisateur}"></td>
				<td th:text="${u.tel}"></td>


				<!-- 			<td th:text="${d.isPublic}"></td> -->
				<!-- 				<td th:text="${d.accesDocument.dateAccesDocument}"></td> -->
				<!-- 				<td th:text="${d.dossier.nomDossier}"></td> -->

				<!-- 				 <td><a href="/api/v1/documents/file/${fileName}" name="fileName">Telecharger </a> -->
				<!-- 				<a href="#">Visualiser </a> -->
				<!-- 				<a href="#">Imprimer </a> -->
				<!-- 				<a href="#">transferer </a></td> -->
			</tr>
		</tbody>
	</table>

<!-- 	<a href="/api/v1/documents/ajouter-document">Ajouter un Utilisateur</a> -->

</body>
</html>




